<div *ngIf="hero" class="panel panel-info">
  <div class="panel-heading">
    <h3>{{hero.name}} Details:</h3>
  </div>
  <div class="panel-body">
    <div class="input-group"><label>Id: </label> {{hero.heroId}}</div>
    <div class="input-group"><label for="txtHeroName">Name: </label>
      <input class="form-control" [(ngModel)]="hero.name" placeholder="Name" name="txtHeroName" id="txtHeroName" />
    </div>
    <div class="input-group"><label>Created: </label> {{hero.created | date}}</div>
    <div class="input-group"><label>Updated: </label> {{hero.updated | date:'medium'}}</div>
  </div>
  <button class="btn btn-default" (click)="goBack()">Back</button>
  <button class="btn btn-info" (click)="save()">Save</button>
  <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
</div>

<div *ngIf="hero" id="deleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete {{hero.name}}</h4>
      </div>
      <div class="modal-body"><p>Are you sure that you want to delete {{hero.name}}?<br/>
        This cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-danger" (click)="delete()" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>