<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>My {{count}} Heroes! </h4>
        </div>
        <div class="panel-footer">
            <div class="list-group">
                <div style="cursor:pointer;" class="list-groupg-item" *ngFor="let h of heroes" (click)="onSelect(h)" [class.text-info]="h === selectedHero">
                    <span class="badge">{{h.heroId}}</span> {{h.name}}
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <label for="#heroName">New Hero Name:</label>
                <input class="form-control" #heroName />
            </div>
            <div class="input-group">
                <button class="btn btn-primary" (click)="add(heroName.value);heroName.value=''">
                    Add</button>
            </div>
        </div>
    </div>

    <div *ngIf="selectedHero" class="well">
        <h2>
            {{selectedHero.name | uppercase}} is my hero
        </h2>
        <button (click)="goToDetail()" class="btn btn-info btn-sm">ViewDetails</button>
    </div>
</div>